<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %> 
</head>
<body>
    <%- include('partials/navbar') %>
    <% ceos.forEach(ceo => { %>
        <h3><%= ceo.name %></h3>
        <ul>
            <li>
                <p><%= ceo.year %></p>
            </li>
            <li>
                <a href="/ceos/<%= ceo.slug %> ">CEO Link</a>
            </li>
        </ul>
    <% }) %> 
</body>
</html>